@model IEnumerable<WassetPortal_DAL.Models.Hospital>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HospitalNameAr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalNameEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VatNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalNameAr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalNameEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HospitalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HospitalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HospitalID })
        </td>
    </tr>
}

</table>
