@model WassetPortal_DAL.Models.Test

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestNameEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestNameEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestNameAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestNameAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
